[submodule "Mods/FirstTerrariaMod"]
	path = Mods/FirstMod
	url = https://github.com/JuanJoboy/FirstMod.git
[submodule "Mods/Vaultaria"]
	path = Mods/Vaultaria
	url = https://github.com/JuanJoboy/Vaultaria.git
